<!-- <div class="login-container">
    <h2>Welcome to the Chat App</h2>
    <button mat-raised-button color="primary" (click)="signInWithGoogle()">Sign In with Google</button>
  </div>
   -->


   <div class="login-container">
    <div class="login-box">
      <img src="assets/logo.png" alt="App Logo" class="logo">
      <h1>Welcome to the Chat App</h1>
      <p>Connect and chat with people around the world!</p>
      <button mat-raised-button color="primary" (click)="signInWithGoogle()">Sign In with Google</button>
    </div>
  </div>
  