<div class="user-list-container">
    <mat-form-field>
      <mat-label>Search Users</mat-label>
      <input matInput [(ngModel)]="searchText" placeholder="Type to search users">
    </mat-form-field>
  
    <mat-list>
      <mat-list-item *ngFor="let user of filteredUsers()">
        <span>{{ user.displayName }}</span>
        <button mat-button (click)="startChat(user)">Chat</button>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="accent" (click)="goToPublicChat()">Go to Common Chat Room</button>
  </div>
  