.login-container, .chat-room-container, .user-list-container, .public-chat-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-card {
    margin-top: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  button {
    margin: 10px 0;
  }
  
  .timestamp {
    float: right;
    font-size: 0.8em;
    color: gray;
  }
  